/**
 * @name DarknessCodeBlocks
 * @version 1.0
 * @description Compact, squared and dark for nightowls!
 * @author LyGhT.#1159
 * @source https://github.com/LyGhT1337/DarknessCodeBlocks/Css/CodeBlocks.css
 * @website https://LyGhT1337.github.io/DiscordDarkness/
 *//*
+ ========================= +
+ DarknessCodeBlocks Theme for Discord +
+ Made By LyGhT - Huge shoutout to cruxie for letting me develop this Theme +
+ ========================= +
The author LyGhT retains full rights of this code.
If you enjoy using the theme, help spread the word!
*/
/*###################################################################################################*/
/* Main */
@import url('https://lyght1337.github.io/DarknessCodeBlocks/css/CodeBlocks.css');
/*###################################################################################################*/

:root{
  --hoverlight:#15151b;
  --dark:#050608;
  --medium:#0b0b0d;
  --light:#15151a;
}
