@media screen and (min-width: 0px) and (max-width: 1200px) {
    .membersWrap-3NUR2t { display: none;}
    .selected-29KTGM { display: none;}
    .toolbar-3_r2xA .clickable-ZD7xvu:nth-last-child(4) { display: none;}
  }
  
  @media screen and (min-width: 0px) and (max-width: 1100px) {
    .toolbar-3_r2xA { display: none;}
    .children-3xh0VB { margin-right: 10px;}
  }
  
  @media screen and (min-width: 0px) and (max-width: 1000px) {
    .sidebar-1tnWFu { width: 0px !important;}
    .sidebar-1tnWFu  { padding: 0px !important;}
    .chat-2ZfjoI { margin-left: 10px;}
  }
  
  @media screen and (min-width: 0px) and (max-width: 900px) {
    .sidebar-1tnWFu { display: none;}
    .wrapper-1_HaEi { display: none;}
    .container-2cd8Mz { margin-left: 20px !important;}
  }
  
  @media screen  and (min-width: 0px) and (max-width: 900px) and (min-height: 0px) and (max-height: 501px) {
    .title-31SJ6t { display: none !important;}
    .chat-2ZfjoI { padding-top: 0px !important;}
  }
  
  @media screen and (min-width: 0px) and (max-width: 1000px) {
    .BF-folderSidebar { display: none !important; margin-left: 0px;}
    .chat-2ZfjoI {margin-left: 0px;}
  }