:root {
  --card-height: 290px;
  --card-width: 1350px;
  --card-background-color: black;
  --card-button-color: rgb(20, 20, 20);
  --max-previews: 3;
}
@mixin button($text, $width) {
  &::after {
    content: $text;
    position: absolute;
    width: calc(#{$width} - 22px);
    font-size: 14px;
    line-height: 42px;
    font-weight: 500;
    color: white;
    background-color: var(--card-button-color);
    border-radius: 3px;
    text-align: center;
    padding-left: 22px;
    text-decoration: unset;
    font-style: normal;
  }
  &:hover::after {
    background-image: linear-gradient(#0001, #0001);
  }
  &:active::after {
    background-image: linear-gradient(#0003, #0003);
  }
}
@mixin button-image($icon, $size, $viewbox-size) {
  content: url("data:image/svg+xml;utf8,<svg width='#{$size}' height='#{$size}' viewBox='0 0 #{$viewbox-size} #{$viewbox-size}' fill='white' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='#{$icon}'/></svg>");
  position: absolute;
  z-index: 2;
  font-size: 0;
}
$github-icon: "M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z";
$gallery-icon: "M6 2C3.79086 2 2 3.79086 2 6V18C2 20.2091 3.79086 22 6 22H18C20.2091 22 22 20.2091 22 18V6C22 3.79086 20.2091 2 18 2H6ZM10 8C10 6.8952 9.1032 6 8 6C6.8944 6 6 6.8952 6 8C6 9.1056 6.8944 10 8 10C9.1032 10 10 9.1056 10 8ZM9 14L6 18H18L15 11L11 16L9 14Z";

.chatContent-3KubbW:is([aria-label^="plugin-links"], [aria-label^="theme-links"]) {
  & .groupStart-3Mlgv1 {
    margin-top: 0;
  }
  & .messageListItem-ZZ7v6g {
    position: relative;
    background: var(--card-background-color);
    border-radius: 8px;
    height: var(--card-height);
    margin: 8px;
    border: 1px solid var(--background-tertiary);
    max-width: var(--card-width);
    & .message-2CShn3 {
      position: relative;
      margin: unset;
      padding: 15px 20px 0 46px;
      width: calc(100% - 118px);
      height: calc(100% - 78px);
      &:hover,
      &.selected-2LX7Jy,
      &.mentioned-Tre-dv,
      &.mentioned-Tre-dv::before {
        background: unset !important;
      }
      & .contents-2MsGLg {
        position: static;
        text-indent: unset;
        & .header-2jRmjb {
          position: absolute;
          line-height: 63px;
          bottom: -63px;
          left: 54px;
          z-index: 3;
          & img {
            top: 20px;
          }
        }
        & .avatar-2e8lTP {
          position: absolute;
          bottom: -43px;
          left: 20px;
          width: 24px;
          height: 24px;
        }
        & .messageContent-2t3eCI {
          display: block;
          position: static;
          height: calc(var(--card-height) - 78px - 3.25rem);
          width: calc(100% + 60px);
          overflow-y: auto;
          margin-top: 3.25rem;
          & > * {
            line-height: normal;
          }
          &
            > .blockquoteContainer-3VtvI1:first-child
            > blockquote
            > :first-child:not(a),
          & > :first-child:not(a):not(.blockquoteContainer-3VtvI1) {
            position: absolute;
            display: block;
            font-size: 1.4rem;
            top: 7px;
            line-height: 3.25rem;
            left: 1.25rem;
            text-transform: capitalize;
            &,
            & * {
              text-decoration: unset;
              font-style: normal;
              font-weight: bold;
            }
          }
          &::first-line,
          & > .blockquoteContainer-3VtvI1 > blockquote::first-line {
            line-height: 0;
            color: transparent;
          }
          &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background-clip: padding-box;
            border: 2px solid transparent;
            border-radius: 4px;
            background-color: var(--scrollbar-thin-thumb);
            min-height: 40px;
          }
          & a[href^="https://github.com/"]
          {
            @include button("GitHub", 130px);
            &::before {
              @include button-image($github-icon, 16, 16);
              right: 67px;
              bottom: -38px;
            }
            &::after {
              right: -14px;
              bottom: -52px;
            }
            & ~ a::before,
            & ~ a::after {
              content: unset;
            }
          }
        }
      }
      & .container-2sjPya {
        max-width: calc(100% * var(--max-previews));
        overflow: hidden;
        position: absolute;
        padding: 10px 0 0 0;
        height: 42px;
        right: 126px;
        display: grid;
        grid-template-columns: repeat(var(--max-previews), auto);
        grid-template-rows: 1fr;
        & > .messageAttachment-CZp8Iv,
        & > .embed-hKpSrO {
          width: 108px;
          height: 42px;
          margin-left: 10px;
          & > .imageWrapper-oMkQl4 {
            width: 100% !important;
            height: 100% !important;
            border-radius: 0;
            & > .originalLink-Azwuo9 {
              @include button("Preview", 108px);
              &::before {
                @include button-image($gallery-icon, 18, 24);
                bottom: 12px;
                left: 19px;
              }
            }
          }
        }
      }
      & .imageWrapper-oMkQl4 {
        width: max-content !important;
        height: max-content !important;
      }
    }
    .message-2CShn3:not(.cozyMessage-1DWF9U) {
      .header-2jRmjb {
        left: 26px !important;
      }
    }
  }
  & .channelTextAreaDisabled-1p2fQv,
  & .typing-2J1mQU,
  & .buttonContainer-1502pf,
  & .timestamp-p1Df1m,
  & .embedFull-1HGV2S,
  & .repliedMessage-3Z6XBG,
  & .divider-IqmEqJ,
  & .removeAttachmentButton-1iO1qS,
  & .embedSuppressButton-1rZHq6,
  & .imageAccessory-2yA7Kb,
  & .wrapperPaused-9B8znP,
  & .clickableWrapper-2WTAkL,
  & .container-2sjPya > div > a > * {
    display: none;
  }
}
