// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild                    ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.guilds-2JjMmN .circleIcon-3489FI {
    color: var(--accent-color) !important;
    border-radius: 50px;
}

.circleIconButton-1VxDrg.selected-2r1Hvo .circleIcon-3489FI {
    color: rgba(255,255,255,0.05);
    border-radius: 50px;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background: rgba(255,255,255,0.05);
    border-radius: 50px;
}

.circleIconButton-1VxDrg{
    border-radius: 50px;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub{
    background-color: rgba(255,255,255,0.05);
    border-radius: 50px;
}

.childWrapper-1j_1ub{
    border-radius: 50px;
}

.guildSeparator-a4uisj{
    display: none;
}

.pill-L_aLMQ,.pill-1NRFie{
    display: none;
}