// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Header                   ║                                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
.resultsGroup-cfY57t .searchLearnMore-1gNL3A {
  display: none;
}

#app-mount .container-2cd8Mz .wrapper-2RrXDg:hover {
  border-width: 1px;
  border-color: var(--accent-color);
  background-color: var(--background-primary);
}

.wrapper-2RrXDg{
  background-color: var(--background-primary);
}