@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.app-3xd6d0 {
  margin-top: 8px;
}
.chat-2ZfjoI {
  background: transparent;
}
.base-2jDfDU {
  margin: var(--layout-margin-top) var(--layout-margin-right)
    var(--layout-margin-bottom) var(--layout-margin);
}
.form-3gdLxP:before,
.children-3xh0VB:after,
.content-1jQy2l:before {
  display: none;
}
.header-3OsQeK {
  box-shadow: none;
}
ul.tree-3agP2X:focus {
  outline: none;
}
.guilds-2JjMmN {
  margin: var(--layout-margin-top) 0px var(--layout-margin-bottom)
    var(--layout-margin-left);
  border-radius: var(--radius-primary);
}
.wrapper-1_HaEi {
  background: var(--background-secondary);
}
.scroller-3X7KbA {
  background: transparent;
}
.platform-win .scroller-3X7KbA {
  padding-top: 12px;
}
.sidebar-1tnWFu {
  background: transparent;
  margin: 0px var(--layout) 0px 0px;
  border-radius: var(--radius-primary);
  width: var(--layout-width-channel);
}
.container-1NXEtd,
.sidebar-1tnWFu .thin-31rlnD {
  background: transparent;
  margin-bottom: var(--layout);
}
.privateChannels-oVe7HL {
  background: transparent;
}
.searchBar-3TnChZ {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  box-shadow: none;
  height: var(--layout-height-header);
  margin-bottom: calc(var(--layout) + var(--layout));
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background: transparent;
  border-radius: var(--radius-primary);
  height: 100%;
}
#private-channels {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-top: 20px;
}
.sidebar-1tnWFu .thin-31rlnD.scrollerBase-_bVAAt {
  background: var(--background-secondary) !important;
  border-radius: var(--radius-primary);
}
.container-1-ERn5 {
  z-index: 2 !important;
}
.header-3OsQeK {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  height: var(--layout-height-header);
  margin: 0px 0px var(--layout) 0px;
}
.bannerImg-2PzH6z,
.bannerImage-ubW8K- {
  width: 100%;
}
.animatedContainer-2laTjx {
  border-radius: var(--radius-primary);
  box-shadow: none;
}
.channelNotice-K4UfZY {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: var(--layout) 0px var(--layout) 0px;
  padding: 12px;
}
.channelNotice-K4UfZY .textBlock-3rqvcj:first-child,
.channelNotice-K4UfZY .button-f2h6uQ {
  display: none;
}
.channelNotice-K4UfZY:hover .textBlock-3rqvcj:first-child {
  display: flex;
}
.channelNotice-K4UfZY:hover .button-f2h6uQ {
  display: block;
}
.scroller-1ox3I2 {
  background: var(--background-secondary) !important;
  border-radius: var(--radius-primary);
  margin: var(--layout) 0px 0px 0px !important;
}
.panels-3wFtMD {
  background: var(--background-secondary);
  margin: var(--layout) 0px 0px 0px;
  border-radius: var(--radius-primary);
}
.container-ZMc96U {
  background: var(--background-primary);
  margin: 0px 0px var(--layout) var(--layout);
  padding: 0px;
  width: unset;
  height: 40px;
  height: var(--layout-height-header);
}
.children-3xh0VB {
  background-color: var(--background-primary);
  margin: 0px var(--layout) 0px 0px;
  border-radius: var(--radius-primary);
  height: 100%;
}
.toolbar-3_r2xA {
  background: var(--background-primary);
  margin: 0px 0px 0px var(--layout);
  border-radius: var(--radius-primary);
  height: 100%;
}
.content-1jQy2l {
  margin: var(--layout) 0px 0px var(--layout);
}
.scroller-kQBbkU {
  border-radius: var(--radius-primary) var(--radius-primary) 0px 0px;
}
.chatContent-3KubbW {
  margin: 0px 0px 0px 0px;
  border-radius: var(--radius-primary);
}
.chat-2ZfjoI .messagesWrapper-RpOMA3 {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
}
.container-NkLXgf,
.container-2o3qEW {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
}
.container-2o3qEW {
  margin-left: calc(var(--layout) + var(--layout));
  width: var(--members-width);
}
.container-2Oqvgx,
.members-3WRCEx {
  background: transparent !important;
}
.members-3WRCEx,
.members-3WRCEx > div {
  background-color: transparent;
}
.tabs-1RhQha {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-bottom: var(--layout-margin);
  border: none;
}
.searchResultsWrap-5RVOkx {
  border-radius: var(--radius-primary);
  margin-left: 20px;
}
.wrapper-3HVHpV {
  background: transparent !important;
}
.pageWrapper-2PwDoS {
  background: var(--background-secondary) !important;
  border-radius: var(--radius-primary);
  margin: 0px 0px 0px var(--layout);
}
.tabBody-2dgbAs:before {
  display: none;
}
.scroller-hE2gWq {
  border: none;
}
.container-1oAagU {
  background: transparent;
}
.peopleColumn-1wMU14 {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: var(--layout) var(--layout) 0px var(--layout);
}
.nowPlayingColumn-1eCBCN {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: var(--layout) var(--layout) 0px var(--layout);
}
.notice-2HEN-u,
.notice-1x8lm- {
  margin-bottom: calc(var(--layout) + var(--layout));
  border-radius: var(--radius-primary);
}
.content-2a4AW9 {
  border-radius: var(--radius-primary);
}
.chat-2ZfjoI .scrollableContainer-15eg7h {
  background: transparent;
}
.inner-NQg18Y {
  margin-top: calc(var(--layout) + var(--layout));
}
.channelTextArea-1FufC0 {
  margin-bottom: 0px;
}
.slateTextArea-27tjG0 {
  right: 0;
}
.chat-2ZfjoI .form-3gdLxP {
  margin: 0px;
  padding: 0px;
}
.channelTextAreaDisabled-1p2fQv {
  height: 0px;
  visibility: hidden;
}
.fontSize16Padding-XoMpjI {
  padding: 11px;
}
.replyBar-1oi75v {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: calc(var(--layout) + var(--layout)) 0px 0px 0px;
  width: 100%;
}
.clipContainer-31nYlH {
  overflow: hidden;
  padding-top: 0px;
  margin-top: 0px;
}
.attachedBars-2BCP3l {
  order: -1;
  background: transparent;
}
.separator-8ngZ3p {
  display: none;
}
.threadSuggestionBar-3ExSyc {
  display: none;
}
.colorLink-2apWfY {
  color: var(--interactive-normal);
}
.wrapper-2SplAX {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: calc(var(--layout) + var(--layout)) 0px 0px 0px;
  order: -1 !important;
}
.chat-2ZfjoI .typing-2J1mQU {
  order: 1;
}
.chat-2ZfjoI .base-3bcbY3 {
  position: relative;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  height: 24px;
  left: 0px;
  right: 0px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: calc(var(--layout) + var(--layout));
}
.attachWrapper-3slhXI .lookBlank-21BCro {
  background: var(--background-secondary);
  border-radius: 90px;
  margin-right: calc(var(--layout) + var(--layout));
}
.attachButton-1ijpt9 {
  margin-left: 0px;
  padding: 0px;
  height: 44px;
  width: 44px;
}
.sansAttachButton-1ERHue {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding-left: 0px;
}
.attachWrapper-3slhXI {
  order: 1 !important;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: auto;
}
.chat-2ZfjoI .textArea-2CLwUE {
  order: 2 !important;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: calc(var(--layout) + var(--layout));
}
.chat-2ZfjoI .buttons-uaqb-5 {
  order: 3 !important;
  background: var(--background-secondary);
  border-radius: 90px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto !important;
}
.chat-2ZfjoI .sprite-2lxwfc {
  background: var(--interactive-normal);
  -webkit-mask: var(--emoji);
  mask: var(--emoji);
  height: 20px;
  --emoji: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 1800 1800' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;' data-minimalscrollbar='yes'%3E%3Cg transform='matrix(1,0,0,1,-179.989,-180)'%3E%3Cpath d='M1079.99,180C1576.71,180 1979.99,583.276 1979.99,1080C1979.99,1576.72 1576.71,1980 1079.99,1980C583.266,1980 179.989,1576.72 179.989,1080C179.989,583.276 583.266,180 1079.99,180ZM1571.11,1206.48C1571.11,1477.54 1351.05,1697.6 1079.99,1697.6C808.933,1697.6 588.871,1477.54 588.871,1206.48L1571.11,1206.48ZM735.94,682.104C817.11,682.104 883.01,748.004 883.01,829.174C883.01,910.344 817.11,976.243 735.94,976.243C654.77,976.243 588.871,910.344 588.871,829.174C588.871,748.004 654.77,682.104 735.94,682.104ZM1424.06,682.104C1505.23,682.104 1571.13,748.004 1571.13,829.174C1571.13,910.344 1505.23,976.243 1424.06,976.243C1342.89,976.243 1276.99,910.344 1276.99,829.174C1276.99,748.004 1342.89,682.104 1424.06,682.104Z'/%3E%3C/g%3E%3C/svg%3E")
    center no-repeat;
}
.button-3BaQ4X {
  padding: 0px;
  margin: 0px;
  width: 44px;
}
.separator-3ng7S5 {
  margin-left: 0px;
}
.separator-3ng7S5:before {
  display: none;
}
.activeButtonChild-2hgLAO {
  color: var(--interactive-normal);
}
.theme-dark .button-y6hemj:focus-within .activeButtonChild-2hgLAO,
.theme-dark .button-y6hemj:focus .activeButtonChild-2hgLAO,
.theme-dark .button-y6hemj:hover .activeButtonChild-2hgLAO {
  color: var(--interactive-active);
}
.buttonContainer-6W2Ep3 .innerButton-1aF_E_ {
  margin: 0px;
  padding: 0px;
  width: 44px;
  height: 100%;
}
.chat-2ZfjoI .channelAttachmentArea-1wlgJV {
  gap: 12px;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: 20px 0px 0px 0px;
}
.chat-2ZfjoI .upload-3GTSF9 {
  border-radius: var(--radius-secondary);
  margin: 0;
  padding: 8px;
  position: relative;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 130px;
  background: var(--background-primary);
}
.container-3wU_rj {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  box-shadow: none;
}
.scrollableContainer-15eg7h::-webkit-scrollbar {
  display: none;
}
.scrollableContainer-15eg7h {
  overflow: hidden;
}
.textAreaSlate-9-y-k2 {
  overflow-y: auto;
  max-height: 200px;
}
.textAreaSlate-9-y-k2::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
.textAreaSlate-9-y-k2::-webkit-scrollbar-corner {
  background-color: transparent;
}
.textAreaSlate-9-y-k2::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  min-height: 40px;
}
.textAreaSlate-9-y-k2::-webkit-scrollbar-thumb,
.textAreaSlate-9-y-k2::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: var(--radius-primary);
}
.textAreaSlate-9-y-k2::-webkit-scrollbar-track {
  background-color: var(--scrollbar-auto-track);
  margin-top: 10px;
  margin-bottom: 10px;
}
:root {
  --icon-windows-minimize: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='48' height='48' style='fill:none;'/%3E%3Cg id='ArtBoard11' serif:id='ArtBoard1'%3E%3Cg id='Titlebar'%3E%3Crect id='minimize' x='10' y='22' width='28' height='4' style='fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    center no-repeat;
  --icon-windows-maximize: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='48' height='48' style='fill:none;'/%3E%3Cg id='ArtBoard11' serif:id='ArtBoard1'%3E%3Cg id='Titlebar'%3E%3Cpath id='maximize' d='M36,12l-24,0l0,24l24,0l0,-24Zm-2,2l-20,0l0,20l20,0l0,-20Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    center no-repeat;
  --icon-windows-window: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='48' height='48' style='fill:none;'/%3E%3Cg id='ArtBoard11' serif:id='ArtBoard1'%3E%3Cg id='Titlebar'%3E%3Cpath id='window' d='M31.5,16.5l-20,0l0,20l20,0l0,-20Zm2,15l3,0l0,-20l-20,0l0,3l17,0l0,17Zm0,7l0,-5l5,0l0,-24l-24,0l0,5l-5,0l0,24l24,0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    center no-repeat;
  --icon-windows-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='48' height='48' style='fill:none;'/%3E%3Cg id='ArtBoard11' serif:id='ArtBoard1'%3E%3Cg id='Titlebar'%3E%3Cpath id='close' d='M38,12.82l-2.82,-2.82l-11.18,11.18l-11.18,-11.18l-2.82,2.82l11.18,11.18l-11.18,11.18l2.82,2.82l11.18,-11.18l11.18,11.18l2.82,-2.82l-11.18,-11.18l11.18,-11.18Z' style='fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    center no-repeat;
  --icon-home: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='48' height='48' style='fill:none;'/%3E%3Cg id='ArtBoard11' serif:id='ArtBoard1'%3E%3Cpath id='home' d='M13.688,43.053l0,-8l-5.867,0c-2.109,0 -3.821,-1.712 -3.821,-3.821l0,-22.464c0,-2.109 1.712,-3.821 3.821,-3.821l32.358,-0c2.109,-0 3.821,1.712 3.821,3.821l-0,22.464c-0,2.109 -1.712,3.821 -3.821,3.821l-18.491,0l-8,8Z'/%3E%3C/g%3E%3C/svg%3E")
    center no-repeat;
  --icon-settings: path(
    "M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"
  );
  --icon-cancel: path(
    "M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"
  );
}
.titleBar-1it3bQ {
  background: transparent;
  position: relative;
  -webkit-app-region: drag;
}
.wordmarkWindows-2dq6rw::before {
  background: var(--header-secondary);
  background-size: cover;
  height: 20px;
  position: absolute;
  content: "";
  font-size: 12px;
  font-weight: 600;
  width: 70px;
  top: 1.2px;
}
.wordmark-2u86JB svg {
  display: none;
}
.wordmarkWindows-2dq6rw::after {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-titlebar);
  padding-left: 80px;
  width: 100%;
  top: -0.4px;
}

.winButton-3UMjdg,
.winButton-3UMjdg:hover,
.winButton-3UMjdg:active {
  height: 30px;
  width: 42px;
  color: var(--header-secondary);
}
.winButtonMinMax-3RsPUg:nth-child(4) svg {
  display: none;
}
.winButtonMinMax-3RsPUg:nth-child(4):after {
  content: "";
  width: 17px;
  height: 17px;
  -webkit-mask: var(--icon-windows-minimize);
  mask: var(--icon-windows-minimize);
  background: var(--header-secondary);
}
.winButtonMinMax-3RsPUg:hover,
.winButtonMinMax-3RsPUg:active {
  background: var(--background-secondary);
}
.winButtonMinMax-3RsPUg:nth-child(3) svg {
  display: none;
}
.winButtonMinMax-3RsPUg:nth-child(3):after {
  content: "";
  width: 19px;
  height: 19px;
  -webkit-mask: var(--icon-windows-maximize);
  mask: var(--icon-windows-maximize);
  background: var(--header-secondary);
}
.winButtonClose-3Q8ZH5:hover,
.winButtonClose-3Q8ZH5:active {
  background: #ffffff;
}
.winButtonClose-3Q8ZH5 svg {
  display: none;
}
.winButtonClose-3Q8ZH5:after {
  content: "";
  width: 17px;
  height: 17px;
  -webkit-mask: var(--icon-windows-close);
  mask: var(--icon-windows-close);
  background: var(--header-secondary);
}
.winButtonClose-3Q8ZH5:hover:after,
.winButtonClose-3Q8ZH5:active:after {
  color: rgb(0, 0, 0);
}

:root {
  --radius-primary: 12px;
  --radius-secondary: 12px;
  --radius-tertiary: 6px;
  --inner-primary: 8px;
  --inner-secondary: 16px;
  --layout-margin: 20px;
  --layout-margin-top: 20px;
  --layout-margin-left: 20px;
  --layout-margin-right: 20px;
  --layout-margin-bottom: 20px;
  --layout-height-header: 44px;
}
:root {
  --layout: calc(var(--layout-margin) / 2);
  --layout-icon-spacing: 8px;
  --layout-width-channel: 240px;
  --layout-width-members: 240px;
  --layout-width-guild: 72px;
  --width-profile: 320px;
  --channel-width: 240px;
  --members-width: 240px;
  --profile-width: 320px;
}
.container-1eFtFS {
  background: var(--background-primary);
}
.bg-1QIAus {
  background: var(--wallpaper) center/cover no-repeat;
  filter: blur(var(--blur-wallpaper));
}
.container-1eD8xH {
  background: var(--background-primary);
  padding: 4px 12px 4px 12px;
  border-radius: var(--radius-secondary);
  margin-bottom: 12px;
}
.container-1eD8xH .divider-1Y1mB0 {
  display: none;
}
.container-1eD8xH .tadaIcon-33fE1D {
  display: none;
}
.container-1eD8xH .progressBar-1Tzim4 {
  background: linear-gradient(
    90deg,
    hsl(338, calc(var(--saturation-factor, 1) * 91%), 36%),
    hsl(338, calc(var(--saturation-factor, 1) * 92%), 42%)
  );
}
.container-1eD8xH .progressBar-1Tzim4::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 8px;
  height: 8px;
  border-radius: 90px;
  right: -4px;
  bottom: -2px;
}
.containerDefault-3TQ5YN:hover .arrow-2HswgU {
  display: block;
}
.arrow-2HswgU {
  display: none;
}
.addButtonIcon-3rJeaD {
  display: none;
}
.containerDefault-3TQ5YN:hover .addButtonIcon-3rJeaD {
  display: block;
}
.container-1yy5xN {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  margin: 16px 0px 0px 16px;
  padding: 12px;
}
.container-1yy5xN .channelSettingButtons-sCQ_2T .button-1kija8 {
  color: #fff;
  background: var(--brand-experiment);
  border-radius: var(--radius-tertiary);
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.container-1yy5xN .channelSettingButtons-sCQ_2T .button-1kija8:hover {
  background-color: var(--brand-experiment-560);
}
.emptyChannelIcon-1YdEz2 {
  display: none;
}
.container-1yy5xN .avatars-37eU13 {
  display: none;
}
.container-30bdan {
  flex-direction: row;
}
.titleName-2vkJTW {
  text-align: left;
}
.subtitle-3tY4DQ {
  text-align: left;
}
.embedFull-1HGV2S {
  background: var(--background-secondary-alt);
  border-radius: 4px var(--radius-secondary) var(--radius-secondary) 4px;
}
.tabs-1RhQha {
  flex-direction: row-reverse;
}
.tabs-1RhQha .tab-FftSDB {
  flex: 1;
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  padding-left: 12px;
}
.tabs-1RhQha [aria-controls="details-tab"] {
  margin: 0px 4px 0px 0px !important;
}
.tabs-1RhQha [aria-controls="members-tab"] {
  margin: 0px 0px 0px 4px !important;
}
.container-NkLXgf .sectionHeader-37ixY1 {
  background: var(--background-primary);
  border-radius: var(--radius-secondary) var(--radius-secondary) 0px 0px !important;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding: 12px;
}
.container-NkLXgf .section-2PUwqg {
  background: var(--background-primary);
  margin-bottom: 0px;
  padding-bottom: 20px;
  border-radius: 0px;
  padding: 12px;
}
.container-NkLXgf .section-2PUwqg:nth-last-child(2) {
  border-radius: 0px 0px var(--radius-secondary) var(--radius-secondary);
}
.container-NkLXgf .divider-2vPjtn {
  content: "";
  background: var(--background-primary);
  border-radius: 0px 0px var(--radius-secondary) var(--radius-secondary);
  height: 12px;
  margin-top: 0px;
}
.container-NkLXgf .editTopicButton-jKMcn4 {
  color: #fff;
  background-color: var(--brand-experiment);
  height: 32px;
  min-width: 60px;
  min-height: 32px;
}
.container-NkLXgf .editTopicButton-jKMcn4:hover {
  background-color: var(--brand-experiment-560);
}
.container-NkLXgf .gearIcon-2r92xC {
  display: none;
}
.container-NkLXgf .channelTopic-1hZBwz {
  overflow: hidden;
}
.container-YkUktl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.container-YkUktl .avatarWrapper-1B9FTW {
  background: var(--background-primary);
  border-radius: var(--radius-secondary) 0px 0px var(--radius-secondary);
  margin: var(--inner-primary) 0px 0px var(--inner-primary);
  padding: var(--inner-primary) var(--inner-primary) var(--inner-primary)
    var(--inner-primary);
  grid-column: 1;
  height: 34px;
}
.container-YkUktl .nameTag-sc-gpq {
  background: var(--background-primary);
  border-radius: 0px var(--radius-secondary) var(--radius-secondary) 0px;
  margin: var(--inner-primary) var(--inner-primary) 0px 0px;
  padding: var(--inner-primary) var(--inner-primary) var(--inner-primary)
    var(--inner-primary);
  grid-column: 2;
  height: 34px;
}
.container-YkUktl .flex-2S1XBF {
  display: grid;
  margin-left: var(--inner-primary);
  margin-right: var(--inner-primary);
  grid-column: 1/-1;
  grid-gap: var(--inner-primary);
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  background: transparent;
}
.container-YkUktl .directionRow-2Iu2A9 .button-12Fmur {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  width: 100%;
}
.container-1zzFcN .horizontal-112GEH > .flex-2S1XBF {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: var(--inner-primary);
  width: 100%;
}
.container-1zzFcN {
  margin: 12px 12px 0px 12px;
  padding: 0px;
  border: none;
}
.container-1zzFcN .horizontal-112GEH > .flex-2S1XBF,
.horizontal-112GEH > .flexChild-3PzYmX {
  margin-left: 0px;
}
.container-1zzFcN .connection-3k9QeF {
  flex-direction: column;
}
.container-1zzFcN .inner-llGtyq {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  width: 100%;
  min-height: 34px;
  padding: var(--inner-primary) 0px var(--inner-primary) 0px;
  margin: 0px 0px 12px 0px;
}
.container-1zzFcN .rtcConnectionStatus-c5A6Av {
  padding-bottom: 4px;
  margin-left: 8px;
}
.container-1zzFcN .subtext-2HDqJ7 {
  margin-left: 8px;
}
.container-1zzFcN .button-f2h6uQ,
.container-1zzFcN .button-12Fmur {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  width: 100% !important;
}
.button-1EGGcP.buttonColor-3bP3fX.fauxDisabled-8w0hCZ,
.button-1EGGcP .buttonColor-3bP3fX.fauxDisabled-8w0hCZ,
.button-1EGGcP.buttonColor-3bP3fX:disabled,
.button-1EGGcP .buttonColor-3bP3fX:disabled {
  background: var(--background-tertiary);
}
.actions-zk2vB_ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: var(--inner-primary);
  width: 100%;
  background: transparent !important;
}
.actions-zk2vB_ .button-12Fmur {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
}
.body-1FrnJD {
  flex-direction: column;
  margin: 12px 12px 0px 12px;
}
.activityPanel-9icbyU {
  padding: 0px;
  border: none;
}
.activityPanel-9icbyU .gameWrapper-2TFy7F {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  margin: 0px 0px 12px 0px;
  padding: var(--inner-primary) 0px var(--inner-primary) 0px;
  width: 100%;
}
.gameIconWrapper-zXQ03M {
  padding: 0px var(--inner-primary) 0px 8px;
}
.gameIcon-1mDo1J {
  border-radius: 90%;
}
.activityPanel-9icbyU .actions-zk2vB_ {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  margin: 0px 0px 0px 0px;
  width: 100%;
}
.activityPanel-9icbyU .disabledButtonWrapper-2Oz3aY {
  width: 100%;
}
.activityPanel-9icbyU .button-12Fmur {
  width: 100%;
}
.panels-3wFtMD {
  display: flex;
  flex-direction: column;
}
.wrapper-3Hk9OB {
  order: 1;
}
.activityPanel-9icbyU {
  order: 2;
}
.powercord-spotify {
  order: 3;
}
.container-YkUktl {
  order: 4;
}
.sidebar-nqHbhN .separator-2wx7h6 {
  opacity: 0;
}
.socialLinks-2DELRE {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
}
.accountProfileCard-lbN7n- .avatar-3mTjvZ {
  background: var(--background-primary);
  border-color: var(--background-primary);
  top: 136px;
}
.accountProfileCard-lbN7n- .settingsBanner-1eDJ5w {
  background-position: top;
  height: 160px;
}
.accountProfileCard-lbN7n-,
.accountProfileCard-lbN7n- .fieldList-in8WkP,
.accountProfileCard-lbN7n- .background-3d_SjE {
  background: transparent;
}
.accountProfileCard-lbN7n- .userInfo-regn9W {
  background: var(--background-primary);
  border-radius: 0px 0px var(--radius-primary) var(--radius-primary);
  padding-bottom: 36px !important;
  height: 80px;
}
.accountProfileCard-lbN7n- .background-3d_SjE {
  padding: 0px;
  margin: 24px 0px 0px 0px;
}
.accountProfileCard-lbN7n- .field-21XZwa {
  background: var(--background-primary);
  border-radius: var(--secondary-radius);
  padding: 12px;
  height: 60px;
}
.accountProfileCard-lbN7n- .fieldButton-14lHvK {
  width: 90px;
}
.accountProfileCard-lbN7n- .removeButton-v6eolJ {
  background: var(--red-primary);
}
.divider-_0um2u {
  opacity: 0;
}
.react-datepicker {
  background: var(--background-floating) !important;
}
.react-datepicker__header,
.react-datepicker__heade,
.react-datepicker__current-month {
  background: transparent !important;
}
.datePicker-70cO23 .react-datepicker__day {
  border-color: var(--background-tertiary) !important;
}
.container-2McqkF {
  border-radius: var(--context-menu-radius);
}
.react-datepicker__day {
  background: var(--background-secondary-alt) !important;
  font-weight: 600;
}
.react-datepicker__day:hover {
  background: var(--brand-experiment) !important;
}
.react-datepicker__day:not(.react-datepicker__day--outside-month, .react-datepicker__day--disabled):hover {
  color: #fff !important;
  font-weight: 600;
}
.react-datepicker__day--outside-month {
  background: transparent !important;
}
.react-datepicker__day--outside-month:hover {
  background: transparent !important;
}
.react-datepicker__day--disabled {
  background: transparent !important;
}
.react-datepicker__day--disabled:hover {
  background: transparent !important;
}
.datePicker-70cO23 .react-datepicker__header {
  background: var(--background-tertiary) !important;
  margin-bottom: 20px;
  border-radius: 8px;
}
.react-datepicker__current-month {
  border-color: transparent !important;
  margin-top: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}
.calendarPicker-sDhzdi
  .react-datepicker__navigation.react-datepicker__navigation--previous {
  border: none;
  top: 30px;
  margin-left: 10px;
}
.calendarPicker-sDhzdi
  .react-datepicker__navigation.react-datepicker__navigation--next {
  border: none;
  top: 30px;
  margin-right: 10px;
}
.calendarPicker-sDhzdi
  .react-datepicker__week:first-of-type
  > .react-datepicker__day:first-of-type {
  border-radius: var(--context-menu-radius) 0 0 !important;
}
.calendarPicker-sDhzdi
  .react-datepicker__week:first-of-type
  > .react-datepicker__day:last-of-type {
  border-radius: 0 var(--context-menu-radius) 0 0 !important;
}
.calendarPicker-sDhzdi
  .react-datepicker__week:last-of-type
  > .react-datepicker__day:first-of-type {
  border-radius: 0 0 0 var(--context-menu-radius) !important;
}
.calendarPicker-sDhzdi
  .react-datepicker__week:last-of-type
  > .react-datepicker__day:last-of-type {
  border-radius: 0 0 var(--context-menu-radius) !important;
}
.datePicker-70cO23 .datePickerHint-17MnA8 {
  background: var(--background-tertiary) !important;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 12px 12px 12px 12px;
}
.datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY {
  margin-left: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
.theme-dark .calendarPicker-sDhzdi .react-datepicker__current-month,
.theme-light .calendarPicker-sDhzdi .react-datepicker__current-month {
  color: var(--context-text-normal);
}
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day-name,
.theme-light .calendarPicker-sDhzdi .react-datepicker__day-name {
  color: var(--context-text-normal);
  font-weight: 600;
}
.theme-dar .datePicker-70cO23 .datePickerHint-17MnA8 .hint-3D5yHh,
.theme-light .datePicker-70cO23 .datePickerHint-17MnA8 .hint-3D5yHh {
  color: var(--context-text-normal);
  font-weight: 400;
}
#emoji-picker-tab .contents-3ca1mk::after {
  content: "s";
}
#emoji-picker-tab {
  order: 1;
  margin-left: 0px;
  margin-right: 8px;
}
#gif-picker-tab {
  order: 2;
  margin-right: 8px;
}
#sticker-picker-tab {
  order: 3;
  margin-left: 0px;
}
.emojiPickerInExpressionPicker-2nOwH8 .emojiPicker-6YCk8a {
  background-color: transparent;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  flex: 1 auto auto;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: auto;
}
.drawerSizingWrapper-1txdWG {
  resize: vertical;
}
.positionContainer-dMArNx {
  resize: vertical;
  width: 100%;
  height: 644px;
  pointer-events: none;
  max-width: 100%;
  margin: 0px;
}
.positionLayer-1cndvf {
  position: absolute;
  right: 0px !important;
  bottom: 0px !important;
  left: calc(
    var(--layout-margin-right) + var(--layout-width-members) + var(--layout) +
      var(--layout)
  ) !important;
}
