// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Variables                ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

:root {
     --radius-primary: 12px;
     --radius-secondary: 12px;
     --radius-tertiary: 6px;
     --inner-primary: 8px;
     --inner-secondary: 12px;
     --inner-tertiary: 16px;
     --layout: calc(var(--layout-margin) / 2);
     --layout-margin: 20px;
     --layout-margin-top: 20px;
     --layout-margin-left: 20px;
     --layout-margin-right: 20px;
     --layout-margin-bottom: 20px;
     --layout-height-header: 44px;
     --guild-icon: 48px;
     --guild-spacing: calc(var(--guild-icon) / 5);
     --guild-badge: calc(var(--guild-icon) / 3.4);
     --brand-experiment-560:
     --layout-icon-spacing: 8px;
     --layout-width-channel: 240px;
     --layout-width-members: 240px;
     --layout-width-guild: 72px;
     --width-profile: 320px;
     --channel-width: 240px;
     --members-width: 240px;
     --profile-width: 320px;
     --profile-height: 43vh;
     --brand-experiment-560: rgb(20,20,20);
}
